body {
  background-image: url(../img/background.webp);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.carrito-comprasBody {
  display: grid;
  grid-template-columns: 15% 84.9%;
  grid-template-rows: auto auto;
  grid-template-areas: "header header""aside main";
}

#cartImage {
  width: 50px;
}

#itemsInCart {
  position: relative;
  top: 10px;
  right: 5px;
}

.header {
  grid-area: header;
}

.aside {
  grid-area: aside;
  margin: 30px 10px 30px 0px;
  padding: 10px;
  background-color: rgb(127, 255, 142);
}

.main {
  grid-area: main;
}

.dropdown {
  margin: 10px 0 10px 0;
}

.btnFilter {
  margin: 20px 0 10px 0;
}

.main {
  margin: 10px
}

input::placeholder {
  font-size: 0.8rem;
}

.titulo {
  text-align: center;
  margin-bottom: 20px;
}

#container {
  margin-bottom: 30px;
}

.cargar {
  width: auto;
}

.car-img {
  width: 80px;
  height: 80px;
  margin: 10px;
}

.remove-product {
width: 25px;
  margin: 0px 20px 0px 0px;
  cursor: pointer;
}



.cardDiv {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: rgba(1, 1, 1, 0);
  min-width: 250px;
  word-wrap: break-word;
  background-clip: border-box;
  margin: 10px 0 10px 0;
}

.card-title {
  min-height: 3rem;
}

.filter {
  margin: 20px 0 20px 0
}

.card-body {
  background-color: rgb(221, 221, 164)
}

.cartCard {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}

.cartProdDetailName {
  min-width: 200px;
}
.cartProdDetailQuant {
  min-width: 100px;
}
.cartProdDetailPrice {
  min-width: 150px;
}
.cartProdDetailTot {
  min-width: 150px;
}
.cartTotal{
  margin: 0px 20px 0px 150px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  font-size: 1.5rem;
}
.signInForm{
  margin:20px;
  width: 15vw;
}
#signButton{
margin: 10px 0 10px 0;
}

#logButton{
  margin: 10px 0 0px 0;
}
.formItem{
  margin: 0 0 10px 0;
}
#welcomeUser{
  position: relative;
  top: 20px;
}
.welcomeUserDrop{
  position: relative;
  top: -8px;
  right: 10px;
}
.errorTxt{
  color: red;
}
.navBrand{
  position: relative;
  top: 10px;
}
.welcomeTxt{
  font-weight: 600;
  color: blue;
}
.logOutTxt{
  text-decoration: none;
  color: black;
  margin: 0 0 0 10px;
}
.logOutDrop{
  position: relative;
  top: -50px;
}